/Lib/*
!/Lib/README.md
/EmbeddedSecretsDB/Makefiles/VC15/.vs/
/EmbeddedSecretsDB/Makefiles/VC15/x64/
/EmbeddedSecretsDB/Makefiles/VC15/DiplodocusEmbeddedSecretsDB.vcxproj.user
/Tests/EmbeddedSecretsDB/Makefiles/VC15/.vs/
/Tests/EmbeddedSecretsDB/Makefiles/VC15/x64/
/Tests/EmbeddedSecretsDB/Makefiles/VC15/DiplodocusEmbeddedSecretsDBTests.vcxproj.user
